
.main-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loan-detail-container {
    padding: 5px;
    border: 4px black solid;
    border-radius: 20px;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: aquamarine;
    color: black;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 10px 15px;
}

tbody td:first-child {
    font-weight: bold;
    color: black;
}

tbody td:last-child {
    font-style: italic;
}